.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 10px;

    &-card {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 50px 0;
        margin: 0 auto;
    }

    &-title {
        margin-bottom: 50px;
    }
    
    &-form {
        max-width: 400px;
        padding: 0 25px;
        
        &__input{
            &--container {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &__button {
            display: block;
            margin: 5px auto 0;
        }
    }

}